main {
    padding-top: 10%;
}

/* Title style */
.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #DF8453;
    --color-2: #c75407;
    --color-3: #E4A9A8;
}

.title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #a70404;
}


@keyframes color-animation {
    0% {
        color: var(--color-1)
    }

    32% {
        color: var(--color-1)
    }

    33% {
        color: var(--color-2)
    }

    65% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    99% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}

.brand_img {
    width: 75rem;
    height: 5rem;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.5vw;
    text-transform: uppercase;

}

/* Navbar and sidebar effects */
.sidebarImg {
    position: relative;
}

.navbar {
    background-color: #fff;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #990000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 25px;
    color: #FFE59D;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #141412;

}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 1.563rem;
    font-size: 2.25rem;
    margin-left: 3.125rem;
}

.openbtn {
    font-size: 1.25rem;
    cursor: pointer;
    background-color: rgb(165, 11, 11);
    color: white;
    padding: 0.625rem 0.938rem;
    border: none;
}

.openbtn:hover {
    background-color: #4e4e4c;
}

#main {
    transition: margin-left .5s;
    padding: 1rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 28.125rem) {
    .sidebar {
        padding-top: 0.938rem;
    }

    .sidebar a {
        font-size: 1.125rem;
    }
}

#mySidebar.open {
    width: 15.625rem;
}

#main.open {
    margin-left: 15.625rem;
    float: left;
}

/* Trailer videos sizes and style */
iframe {
    float: left;
    margin-right: 1.875rem;
    padding-bottom: 5rem;
}


/* Posts styles */
.description {
    float: inline-end;

}

.postTitle {
    color: #ffffff;
    background-color: #990000;


}

.postTitle_Scifi {
    color: #ffffff;
    background-color: #990000;
    font-family: 'Orbitron', sans-serif;

}

.postTitle_drama {
    color: #ffffff;
    background-color: #990000;
    font-family: 'Architects Daughter', cursive;


}


.postTitle_action {
    color: #ffffff;
    background-color: #990000;
    font-family: 'Shrikhand', cursive;

}

.postTitle_comedy {
    color: #ffffff;
    background-color: #990000;
    font-family: 'Rancho', cursive;

}



.strike {
    margin: 6.25rem auto;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike>span {
    position: relative;
    display: inline-block;
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 624.938rem;
    height: 0.063rem;
    background: #990000;
}

.strike>span:before {
    right: 100%;
    margin-right: 0.938rem;
}

.strike>span:after {
    left: 100%;
    margin-left: 0.938rem;
}



/* Genre title styles */
.headerTitle_scifi {

    font-family: 'Orbitron', sans-serif;
    color: #548CFF;
    text-align: center;
    box-shadow: 1.25rem 1.25rem rgba(0, 0, 0, .15);
    transition: all .4s ease;

}

.headerTitle_scifi:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 0.625rem 0.625rem rgba(0, 0, 0, .25);
}

.headerTitle_drama {

    font-family: 'Architects Daughter', cursive;
    color: #3D087B;
    text-align: center;
    box-shadow: 1.25rem 1.25rem rgba(0, 0, 0, .15);
    transition: all .4s ease;

}


.headerTitle_drama:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 0.625rem 0.625rem rgba(0, 0, 0, .25);
}

.headerTitle_action {

    font-family: 'Shrikhand', cursive;
    color: #F32424;
    text-align: center;
    box-shadow: 1.25rem 1.25rem rgba(0, 0, 0, .15);
    transition: all .4s ease;
}

.headerTitle_action:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 0.625rem 0.625rem rgba(0, 0, 0, .25);
}

.headerTitle_comedy {

    font-family: 'Rancho', cursive;
    color: #FABB51;
    text-align: center;
    box-shadow: 1.25rem 1.25rem rgba(0, 0, 0, .15);
    transition: all .4s ease;
}


.headerTitle_comedy:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 0.625rem 0.625rem rgba(0, 0, 0, .25);
}

.iframe_float_right {
    float: right;
}

footer {
    background-color: #990000;
    color: white;
}


/* Home bg animation */
html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(184, 33, 13) 50%, rgb(224, 227, 230) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {

    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: "Montserrat", sans-serif;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}



.nav2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    margin: auto;
    /* margin-top: 40px; */
    position: relative;
    width: clamp(320px, 50vw, 100%);
    color: white;
}

.nav2 h2 {
    font-size: 1.5rem;
    border-radius: 0.125rem;
    position: relative;
    background: rgb(194, 37, 10);
    height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
    color: inherit;
    font-weight: 12.5rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 0.25rem 0.25rem 1.25rem -0.125rem rgba(0, 0, 0, 0.35);
    transition: all 0.4s;
}

.nav2:hover h2 {
    transform: translateY(-2px);
    box-shadow: 0.125rem 0.125rem 0.313rem -0.063rem rgba(0, 0, 0, 0.35);
    transition: all 0.4s;
}

#toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 2.5rem;
}

.dropdown h2::before {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    aspect-ratio: 1;
    background: currentColor;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    content: "";
    clip-path: polygon(50% 25%, 20% 80%, 80% 80%);
    transform: rotate(180deg) scale(0.75);
}

#toggle:not(:checked)~h2::before {
    transform: rotate(0deg) scale(0.75);
}

#toggle:focus~h2 {
    background: rgb(235, 171, 77);
    transition: background 0.45s;
}

#toggle:checked~ul {
    visibility: hidden;
    opacity: 0;
}

#toggle:not(:checked)~ul {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


.nav2 ul {
    padding-left: 0;
    padding-top: 1rem;
    margin-top: 0;
    background: transparent;
    list-style: none;
    overflow: hidden;
    text-align: right;
    text-align: center;
    transition: all 0.4s ease-out;
    width: 100%;
    position: absolute;
}

.nav2 ul li {
    border-radius: 0.125rem;
    position: relative;
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    margin: 0 0 0.25rem 0;
    background: rgb(189, 46, 21);
    transition: background 3s;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

.nav2 ul li:hover,
.nav2 ul li a:focus {
    background: rgb(212, 135, 34);
    transition: background 0.45s;
}

.nav2 ul a {
    display: block;
    color: inherit;
    text-transform: lowercase;
    font-weight: 200;
    text-decoration: none;
}


.container2 {
    max-width: 55ch;
    margin: auto;
    color: #36454F;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #990000;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 10px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: rgb(199, 142, 20);
    /* Add a dark-grey background on hover */
}